body {
    margin: 0px;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

p {
    font-size: 0.900em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    border: solid 1px green;
}

.bigBox {
    text-align: center;
    width: 70%;
    min-width: 800px;
    height: 70%;
    min-height: 600px;
}

.box1 {
    display: inline-block;
    width: 49%;
    height: 70%;
}

.box2 {
    display: inline-block;
    width: 49%;
    height: 70%;
}

input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    width: 65%;
    height: 2em;
    margin-bottom: 2em;
    font-size: 1em;
    text-align: center;
    border: 0px;
    border-bottom: 1px solid rgba(0, 128, 0, 0.5);
    outline: none;
    transition-duration: 500ms;
}

input[type=email] {
    text-transform: lowercase;
}

input[type=date]::-webkit-inner-spin-button {
    appearance: none;
}

input[type=email]::placeholder {
    text-transform: none;
}

input[type=submit], button {
    width: 20%;
    height: 2em;
    font-size: 16px;
    margin: 1%;
    background-color: rgba(0, 128, 0, 0.8);
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-weight: bold;
    transition-duration: 200ms;
}

input:focus::placeholder {
    color: transparent;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    border-bottom: 1px solid rgba(0, 128, 0, 1);
    transition-duration: 1s;
}

input[type=submit]:hover, button:hover {
    transition-duration: 200ms;
    background-color: rgba(0, 128, 0, 1);
}